:root {
  --color-global-color-blue-50: #f6fbfd; /* global color blue of weight 50 */
  --color-global-color-blue-100: #e0f0f9; /* global color blue of weight 100 */
  --color-global-color-blue-200: #b1dbef; /* global color blue of weight 200 */
  --color-global-color-blue-300: #84c5e6; /* global color blue of weight 300 */
  --color-global-color-blue-400: #53afdc; /* global color blue of weight 400 */
  --color-global-color-blue-500: #1993d0; /* global color blue of weight 500 */
  --color-global-color-blue-600: #0077b2; /* global color blue of weight 600 */
  --color-global-color-blue-700: #006596; /* global color blue of weight 700 */
  --color-global-color-blue-800: #005179; /* global color blue of weight 800 */
  --color-global-color-blue-900: #003c5a; /* global color blue of weight 900 */
  --color-global-color-green-50: #f7fbeb; /* global color green of weight 50 */
  --color-global-color-green-100: #dff3dc; /* global color green of weight 100 */
  --color-global-color-green-200: #b0e1aa; /* global color green of weight 200 */
  --color-global-color-green-300: #7fce7a; /* global color green of weight 300 */
  --color-global-color-green-400: #69ad65; /* global color green of weight 400 */
  --color-global-color-green-500: #51834e; /* global color green of weight 500 */
  --color-global-color-green-600: #42673f; /* global color green of weight 600 */
  --color-global-color-green-700: #365233; /* global color green of weight 700 */
  --color-global-color-green-800: #2a3e28; /* global color green of weight 800 */
  --color-global-color-green-900: #1e2b1d; /* global color green of weight 900 */
  --color-global-color-mint-50: #c21aff; /* global color mint of weight 50 */
  --color-global-color-mint-100: #c5f8ea; /* global color mint of weight 100 */
  --color-global-color-mint-200: #55ebce; /* global color mint of weight 200 */
  --color-global-color-mint-300: #00d4b6; /* global color mint of weight 300 */
  --color-global-color-mint-400: #0ab29a; /* global color mint of weight 400 */
  --color-global-color-mint-500: #188675; /* global color mint of weight 500 */
  --color-global-color-mint-600: #1a6a5d; /* global color mint of weight 600 */
  --color-global-color-mint-700: #19544b; /* global color mint of weight 700 */
  --color-global-color-mint-800: #174039; /* global color mint of weight 800 */
  --color-global-color-mint-900: #142c28; /* global color mint of weight 900 */
  --color-global-color-neutral-50: #fcfcfc; /* global color neutral of weight 50 */
  --color-global-color-neutral-100: #ededed; /* global color neutral of weight 100 */
  --color-global-color-neutral-200: #e0e0e0; /* global color neutral of weight 200 */
  --color-global-color-neutral-300: #d4d4d4; /* global color neutral of weight 300 */
  --color-global-color-neutral-400: #9e9e9e; /* global color neutral of weight 400 */
  --color-global-color-neutral-500: #777777; /* global color neutral of weight 500 */
  --color-global-color-neutral-600: #5e5e5e; /* global color neutral of weight 600 */
  --color-global-color-neutral-700: #4b4b4b; /* global color neutral of weight 700 */
  --color-global-color-neutral-800: #393939; /* global color neutral of weight 800 */
  --color-global-color-neutral-900: #282828; /* global color neutral of weight 900 */
  --color-global-color-neutral-950: #1c1c1e; /* global color neutral of weight 950 */
  --color-global-color-orange-50: #fef9f5; /* global color orange of weight 50 */
  --color-global-color-orange-100: #fcebdc; /* global color orange of weight 100 */
  --color-global-color-orange-200: #f9cca9; /* global color orange of weight 200 */
  --color-global-color-orange-300: #f6ad76; /* global color orange of weight 300 */
  --color-global-color-orange-400: #e39258; /* global color orange of weight 400 */
  --color-global-color-orange-500: #c07b4b; /* global color orange of weight 500 */
  --color-global-color-orange-600: #9d633e; /* global color orange of weight 600 */
  --color-global-color-orange-700: #855435; /* global color orange of weight 700 */
  --color-global-color-orange-800: #6b432b; /* global color orange of weight 800 */
  --color-global-color-orange-900: #4f3120; /* global color orange of weight 900 */
  --color-global-color-red-50: #fffbfb; /* global color red of weight 50 */
  --color-global-color-red-100: #ffe9e5; /* global color red of weight 100 */
  --color-global-color-red-200: #ffc7bf; /* global color red of weight 200 */
  --color-global-color-red-300: #fca69c; /* global color red of weight 300 */
  --color-global-color-red-400: #f37a73; /* global color red of weight 400 */
  --color-global-color-red-500: #ba5a56; /* global color red of weight 500 */
  --color-global-color-red-600: #934846; /* global color red of weight 600 */
  --color-global-color-red-700: #743a3a; /* global color red of weight 700 */
  --color-global-color-red-800: #572d2d; /* global color red of weight 800 */
  --color-global-color-red-900: #3b2020; /* global color red of weight 900 */
  --color-global-color-violet-50: #fcfcfe; /* global color violet of weight 50 */
  --color-global-color-violet-100: #ecedfa; /* global color violet of weight 100 */
  --color-global-color-violet-200: #d0d2f3; /* global color violet of weight 200 */
  --color-global-color-violet-300: #b6b8eb; /* global color violet of weight 300 */
  --color-global-color-violet-400: #9598e0; /* global color violet of weight 400 */
  --color-global-color-violet-500: #686fc8; /* global color violet of weight 500 */
  --color-global-color-violet-600: #57579c; /* global color violet of weight 600 */
  --color-global-color-violet-700: #49457a; /* global color violet of weight 700 */
  --color-global-color-violet-800: #39345a; /* global color violet of weight 800 */
  --color-global-color-violet-900: #29253c; /* global color violet of weight 900 */
  --color-global-color-yellow-50: #fffcf5; /* global color yellow of weight 50 */
  --color-global-color-yellow-100: #fdecc3; /* global color yellow of weight 100 */
  --color-global-color-yellow-200: #f0d36b; /* global color yellow of weight 200 */
  --color-global-color-yellow-300: #d4bb5f; /* global color yellow of weight 300 */
  --color-global-color-yellow-400: #b19d51; /* global color yellow of weight 400 */
  --color-global-color-yellow-500: #84773f; /* global color yellow of weight 500 */
  --color-global-color-yellow-600: #685e34; /* global color yellow of weight 600 */
  --color-global-color-yellow-700: #534b2b; /* global color yellow of weight 700 */
  --color-global-color-yellow-800: #3e3922; /* global color yellow of weight 800 */
  --color-global-color-yellow-900: #2b2819; /* global color yellow of weight 900 */
  --content-global-font-font-family-content: Inter; /* Font family for content fonts */
  --content-global-font-font-family-display: Inter; /* Font family for display fonts */
  --content-global-font-font-weight-black: Black; /* heaviest weight for fonts */
  --content-global-font-font-weight-bold: Bold; /* bold weight for fonts */
  --content-global-font-font-weight-default: Regular; /* default weight for fonts */
  --content-global-font-font-weight-semi-bold: Semi Bold; /* semibold weight for fonts */
}
